body {
	height: 100%;
	background-color: #ffffff;
	font-family: tahoma, arial, sans-serif;
	font-size: 17px;
	text-align: center;
}

a {
	color: #4fa6d3;
	text-decoration: underline;
}

a:hover {
	color: #0114dd;
}

span {
	display: none;
}

img {
	border: none;
}
p {
	margin: 10px 0px 5px;
	text-align: justify;
	line-height: 14px;
}

.clearthis {
	margin : 0px;
	height : 1px;
	clear : both;
	float : none;
	font-size : 1px;
	line-height : 0px;
	overflow : hidden;
}

#container {
	margin: 0px auto;
	width: 100%;  /*900px*/
	border-color: #439fce;
	border-width: 0px 1px 1px;
	border-style: solid;
}

input {
	padding-left: 2px;
	background-color: #fff;
	color: #85859c;
	font-family: tahoma, arial, sans-serif;
	font-size: 11px;
}


/* Page Header */

#header {
	padding-top:25px;
	width: 100%; /*900px*/
	height: 88px;
	color: #fff;
	background: url('images/lo.png') repeat-x 0px 0px;
	overflow: hidden;
}

#header a {
	color: #fff;
	text-decoration: none;
}

#header a:hover {
	color: #0114dd;
}

#page_heading {
	margin-left:10px;
	width: 400px;
	height: 50px;
	float: left;
   
}

#page_heading h1 {
	margin-left:5px;
	float: left;
}
#page_heading img{
	float: left;
	clear: both;
	height:100px;
	margin-bottom:10px;
}

#page_headerlinks {
	padding-right: 20px;
	padding-top: 25px;
	width: 275px;
	float: right;
	text-align: left;
	word-spacing: -1px;
}

#page_headerlinks ul {
	list-style-type: none;	
}

#page_headerlinks li {
	padding: 0px 10px 0px 9px;
	float: left;
	list-style-type: none;
	background: url('images/lo.png') no-repeat 100% 2px;
}

#page_headerlinks li.last {
	padding-right: 0px;
	background: none;
}

#page_headersearch {
	padding-right: 30px;
	padding-top: 25px;
	float: right;
	clear: right;
	width: 255px;
	text-align: left;
	word-spacing: -1px;
	overflow : hidden;
	display:block;
}


#page_headersearch form {
	padding-left: 3px;
	float: left;
}

#page_headersearch input {
	margin-top: 1px;
	padding-left: 2px;
	width: 165px;
	height: 20px;
	float: left;
	border: none;
}

#page_headersearch input.button {
	padding: 0px;
	margin-top: 0px;
	margin-left: 5px;
	width: 37px;
	height: 25px;
	background-color: transparent;
	float: left;
}

/* Main Navigation Menu */

#page_menu {
	margin-bottom: 1px;
	width: 100%;/*900px*/
	height: 32px;
	background: url('images/lo.png') repeat-x 0px 0px;
}

#page_menu ul {
	width: 100%;
	height: 28px;
	list-style-type: none;
	overflow: hidden;
	
}

#page_menu li {
	margin-right: 1px;
	width: 207px;
	height: 27px;
	float: left;
	overflow: hidden;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#page_menu li.last {
	margin-right: 0px;
	width: 130px;
}

#page_menu a {
	padding-top: 3px;
	display: block;
	color: #fff;
	text-decoration: none;
}

#page_menu a:hover {
	color: #00bdf7;
}
/* Left Sidebar */
/* Left Sidebar */

#left_sidebar {
	width: 190px;
	float: left;
	text-align: left;
	color: #4da6d2;
}

#left_sidebar a {
	color: #4da6d2;
}

#left_sidebar a:hover {
	color: #1f50a7;
}



/* Left Sidebar: Newsletter Signup Box */

#newsletter {
	margin-bottom: 2px;
	padding: 5px 5px 15px;
	width: 200px;
	border-color: #4da6d2;
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	overflow: hidden;
	font-weight: bold;
}

#newsletter h2 {
	padding-bottom: 10px;
	font-size: 20px;
}

#newsletter input {
	padding-left: 5px;
	margin-right:15px;
	width: 180px;
	height: 25px;
	border: #4da6d2 1px solid;
	float: left;
	clear: left;
}

#newsletter input.button {
	margin-top: 5px;
	margin-left: 130px;
	width: 30px;
	height: 20px;
	border: none;
}

#newsletter #link_cancel {
	margin-top: 5px;
}


/* Left Sidebar : Categories */

#categories {
	margin-bottom: 1px;
	margin-top:2px;
	padding: 1px 1px 1px 0px;
	border-color: #4da6d2;
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	text-align: center;
	width: 209px;
}

#categories_header {
	margin-bottom: 2px;
	width: 211px;
	height: 35px;
	background-color: #4da6d2;
	
	overflow: hidden;
}

#categories_header h2 {
	margin-top: 5px;
	margin-left: 5px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

#categories ul {
	margin: 0px auto;
	width: 209px;
	list-style-type: none;
	float:left;
}

#categories li {
	width: 120px;
	height: 30px;
	list-style-type: none;
	text-align: left;
	border-bottom: #4da6d2 1px solid;
	float: left;
	margin-left:0px;

}

#categories li.last {
	border: none;
}

#categories li a {
	margin-top: 4px;
	margin-left: 6px;
	display: block;
	color: #41a1ce;
	
	text-decoration: none;
}

#categories li a:hover {
	color: #114299;
}


/* Left Sidebar : Special Offer */

#specialoffer {
	width: 180px;
	height: 98px;
	overflow: hidden;
	background: url('images/specialoffer_background.jpg') no-repeat 0px 0px;
	color: #fff;
	font-size: 11px;
}

#specialoffer_text {
	width: 129px;
	height: 60px;
}

#specialoffer_text h2 {
	margin-top: 8px;
	margin-left: 10px;
	width: 113px;
	height: 38px;
	background: url('images/specialoffer_header.gif') no-repeat 0px 0px;
}

#specialoffer_link {
	margin-left: 12px;
}

#specialoffer_link a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

#specialoffer_link a:hover {
	color: #f2f2f2;
}

/* Main Content Area */

#main_content {
	margin-right: 5px;
	margin-top:20px;
	width: 80%;
	text-align: center;
	float: right;
}

#main_content .h_divider {
	margin-bottom: 2px;
	height: 1px;
	background-color: #5badd5;
	overflow: hidden;
}


/* New Item Description */

#new_item {
	margin: 0px auto 2px;
	padding: 5px 10px;
	width: 950px;
	text-align: justify;
}

#new_item_header {
	margin-top: 10px;
	float: left;
	width: 400px;
}

#new_item_header h1 {
	color: #16479e;
	font-size: 30px;
	font-weight: normal;
}

#new_item_header h2 {
	color: #16479e;
	font-size: 23px;
	font-weight: bold;
	font-family: arial, tahoma, sans-serif;

}

#new_item_image {
	margin-top:10px;
	float: right;
	margin-right:10px;
	overflow: hidden;
	text-align: right;
}

#new_item_text {
	float: left;
	clear: left;
	width: 550px;
}

#new_item_link {
	float: left;
	clear: left;
	width: 348px;
	font-weight: bold;
	text-align: right;
}

#new_item_link a {
	text-decoration: none;
}


/* Sub Items Descriptions */

.sub_items {
	margin-bottom: 2px;
	margin-top: 5px;
	width: 900px;
	background: url('images/item_sub_background.gif') repeat-y 0px 0px;
	text-align: justify;
}

.sub_left {
	padding-left: 5px;
	width: 430px;
	float: left;
}

.sub_right {
	padding-right: 5px;
	width: 450px;
	float: right;
}

.sub_items_header {
	padding-left: 20px;
	padding-top: 10px;
	float: left;
	width: 200px;
}

.sub_items_header h1 {
	color: #114299;
	font-size: 25px;
	font-weight: bold;
	font-family: arial, tahoma, sans-serif;
}

.sub_items_header h2 {
	color: #114299;
	font-size: 20px;
	font-weight: normal;
	font-family: arial, tahoma, sans-serif;
}

.sub_items_image {
	margin-top: 15px;
	float: right;
	text-align: right;
}

.sub_items_text {
	padding-left: 20px;
	float: left;
	clear: left;
	width: 400px;
}

.sub_items_cartinfo {
	padding-top: 12px;
	padding-left: 20px;
	color: #820721;
	font-family: arial, tahoma, sans-serif;
	float: none;
	clear: both;
}

.sub_items_cartinfo h2 {
	font-size: 14px;
	font-weight: bold;
}

.sub_items_cartinfo .price {
	float: left;
	text-align: left;
}



/* Page Footer */

#page_footer {
	width: 780px;
}

#powered_by {
	padding-top: 17px;
	float: right;
	width: 305px;
	height: 30px;
	color: #57aad4;
	text-align: center;
}

#powered_by a {
	color: #57aad4;
	margin-top:0px;
}

#product_brands {
	float: left;
}

#product_brands ul {
	width: 1200px;
	list-style-type: none;
	margin-left:20px;
}

#product_brands li {
	margin: 5px 6px 3px 3px;
	height: 40px;
	list-style-type: none;
	float: left;
}

#product_brands li.zalcom {
	width: 107px;
	height:120px;
	background: url('images/bmw.png') no-repeat 0px 0px;
}

#product_brands li.digital {
	width: 95px;
	height:100px;
	background: url('images/kia.png') no-repeat 0px 0px;
}

#product_brands li.adept {
	width: 126px;
	height:100px;
	background: url('images/jeep.png') no-repeat 0px 0px;
}

#product_brands li.simtel {
	width: 99px;
	height:100px;
	background: url('images/fiat.png') no-repeat 0px 0px;
}
#product_brands li.simtelx {
	width: 99px;
	height:100px;
	background: url('images/to.png') no-repeat 0px 0px;
}
#product_brands li.simtel y{
	width: 99px;
	height:100px;
	background: url('images/ja.png') no-repeat 0px 0px;
}
#product_brands li.simtelz {
	width: 99px;
	height:100px;
	background: url('images/sc.png') no-repeat 0px 0px;
}
#product_brands li.simtelzz {
	width: 99px;
	height:100px;
	background: url('images/nis.png') no-repeat 0px 0px;
}
#product_brands li.simtelzzz {
	width: 99px;
	height:100px;
	background: url('images/mg.png') no-repeat 0px 0px;
}
#product_brands li.simtelzzzz {
	width: 99px;
	height:100px;
	background: url('images/va.png') no-repeat 0px 0px;
}
#product_brands li.z{
	width: 99px;
	height:100px;
	background: url('images/land.png') no-repeat 0px 0px;
}
/******************registration****************/
#main{
	margin-right:2px;
	width: 745px;
	text-align: center;
	float: left;
	color:#4da6d2;
	font-size:25px;
}
#main td{
color:#4da6d2;
font-size:20px;
}
#main input {
	padding-left: 5px;
	margin-right:15px;
	width: 200px;
	height: 25px;
	border: #4da6d2 1px solid;
	float: left;
	clear: left;
}
#main textarea{
border: #4da6d2 1px solid;
}
# b{
	margin-top: 5px;
	margin-left: 130px;
	width: 20px;
	height: 20px;
	border: none;
}
/************************contactus**************************/
.right{
    float: right;
    padding:5px;
    width: 75%;
    margin: 20px 5px;
    background: #fff;
    border-radius: 5px;
    min-height: 400px;
    font-size:20px;
}
.right  input{
	
	width: 200px;
	height: 25px;
	border: #4da6d2 1px solid;
	
}
.right textarea {
border: #4da6d2 1px solid;
}
.right  h2{
   
    padding: 0 0 0 10px;
    border-radius: 5px;
	color:#4da6d2;
	font-size:35px;
}
.right p{
    color: #4da6d2;
    margin: 10px;
}
/*************************galary*****************************/
.gimg{
    width: 400px;
    color: #444;
    text-align: center;
    float:left;
    margin: 10px;
}
.gimg img{
    width: 100%;
    height: 200px;
    border-radius: 5px; 
}
.gimg h3{
    color: #4da6d2;
}
.gimg p{
font-size:15px;
}
.gimg a{
color:#1849a0;
}
#car{
font-size:16px;
margin:20px;
}
#mainx{
align:center;
margin:16px;
}
#mainx h2,h3{
color:#1849a0;
}
.content{
color:#1849a0;
}